scaler.pkl
onehot_encoder_geo.pkl
label_encoder_gender.pkl
model.h5
venv/


# # Python cache
# __pycache__/
# *.pyc

# Virtual environment
# venv/
# .venv/

# ML models (large files)
# *.pkl
# *.h5

# Environment variables
# .env

# Jupyter
# .ipynb_checkpoints/

# OS files
# .DS_Store
# Thumbs.db